	body{
		width: 100%;
        margin: 0 auto;
		padding-bottom: constant(safe-area-inset-bottom); /* 适配iPhoneX底部 兼容 iOS < 11.2 */
		padding-bottom: env(safe-area-inset-botom); /* 适配iPhoneX底部 兼容 iOS >= 11.2 */
		background: rgb(238, 238, 238);
		font-size: 14px;
		font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
		font-weight: 300;
    }
    

/*隐藏滚动条（感觉没有多少用一样！）*/
	::-webkit-scrollbar{
		width: 0px;
		height: 0px;
		display: none;
	}

	::-webkit-scrollbar-thumb{
		border-radius: 5px;
		-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
		background: rgba(0,0,0,0.2);
	}


/*Tab 1
    第一部分内容*/
	.headImg{
		background: rgb(51, 51, 51);
		height: 200px;
		text-align: center;
		overflow: hidden;
		color: rgb(255, 255, 255);
	}

	.headImg img{
		width: auto;
		height: auto;
		max-height: 100%;
		float: right;
	}

	.main{
		margin: 0 auto;
		padding: 0 24px 16px 24px;
		background: rgb(255, 255, 255);
		box-shadow: 0px 1px 2px rgb(0,0,0, .05);

	}

	.info{
		position: relative;  
		margin: 0 auto;	
	}

	.infoLeft{
		margin: 0 108px 0 0;
		padding: 32px 0 16px 0;
	}

	.infoRight{
		position: absolute;
		right: 0px;
		top: -24px;
		width: 88px;
		height: 88px;
	}

	.name{
		font-size: 24px;
		font-weight: 700;
		padding-bottom: 8px;
		color: rgba(0,0,0,0.8);
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis; 
	}

	.position{
		color: rgb(102, 102, 102);
		font-size: 13px;
	}


	.avatar{
		width: 88px;
		height: 88px;
		border-radius:100%；
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		transition: linear 0.25s;
		box-shadow: 0px 4px 16px rgb(20,0,40, 0.35);

	}

	.intro{
		padding: 16px 0;
		color: rgb(102, 102, 102);
		font-size: 13px;
		line-height: 1.5;
	}

	.btHireMe{
		margin: 16px 0;
	}

	.HireMeText{
		background: rgb(20, 0, 250);
		border: none;
    	border-radius: 4px;
    	color: rgb(255, 255, 255);
    	display: block;
    	font-size: 16px;
    	font-weight: 400;
    	height: 48px;
    	line-height: 48px;
    	text-align: center;
    	text-decoration: none;
    	box-shadow: 0px 2px 12px rgb(20,0,250, 0.35);
    }

	.HireMeText:active{
		background: rgb(20, 0, 232);
    }
    

/*Tab 1
    第二部分内容*/
	.part2{
		width: 100%;
		height: 500px;
		padding: 32px 24px;
		position:absolute;
		z-index: -1;
		box-sizing: border-box;
    }


/*Tab 2
    第一部分内容*/
    .discover{
        margin: 0 auto;
        padding-top: 32px;
        text-align: center;
        font-size: 48px;
        font-weight: 800;
    }


/*Tab 3
    第一部分内容*/
    .me{
        margin: 0 auto;
        padding-top: 32px;
        text-align: center;
        font-size: 48px;
        font-weight: 800;
    }

/*底部浮动Tab*/
	.tabbar{
		width: 100%;
		box-sizing: border-box;/*防止Padding撑开宽度*/
		background: rgb(255, 255, 255);
        box-shadow: 0px -1px 2px rgb(0,0,0, .05);
        
		height: calc(50px + constant(safe-area-inset-bottom)); /* 适配iPhoneX底部 兼容 iOS < 11.2 */
        height: calc(50px + env(safe-area-inset-bottom)); /* 适配iPhoneX底部 兼容 iOS >= 11.2 */
        
        /* 底部浮动 */
		left: 0;
		position: fixed;
		bottom: 0;
	} 

	.tab1, .tab2, .tab3{
		float: left;
		text-align: center;
        width: 33.33%;
        height: 50px;
		font-size: 9px;
        font-weight: 400;
        padding-top: 6px;
        box-sizing: border-box;/*防止Padding撑开宽度*/
    }
    
    .tab1:hover, .tab2:hover, .tab3:hover{
        background: rgb(0, 0, 0, 0.05);
    }

	.tab1 img, .tab2 img, .tab3 img{
		width: 100%;
		height: 24px;
        margin-bottom: 2px;
	}